<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <branding>
        <loginFooterText>Unitymedia</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder2/servlet_png.png</loginLogo>
        <primaryColor>#009DB1</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#FFFFFF</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#F1F7FE</secondaryColor>
        <tertiaryColor>#009DB1</tertiaryColor>
        <tertiaryComplementColor>#FFFFFF</tertiaryComplementColor>
        <zeronaryColor>#FFFFFF</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>B2B.Functional.Mgmt@unitymedia.de</emailSenderAddress>
    <emailSenderName>partner portal</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <logoutUrl>https://www.unitymedia.de/</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Access_to_Partner_Portal</permissionSet>
        <permissionSet>UM_ManagePartners</permissionSet>
        <profile>Partner community employees</profile>
        <profile>UM_Partner</profile>
        <profile>Admin</profile>
        <profile>Partner Community User</profile>
        <profile>UM Partner Sales User</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>VisualForce</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>partner_portal1</picassoSite>
    <reputationLevels>
        <level>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>151.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>801.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>1501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>2501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>10001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>partner_portal</site>
    <status>Live</status>
    <tabs>
        <customTab>Home</customTab>
        <customTab>News_And_Downloads</customTab>
        <defaultTab>01r580000009rxC</defaultTab>
        <standardTab>Lead</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>report</standardTab>
        <standardTab>Dashboard</standardTab>
    </tabs>
    <urlPathPrefix>partners</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
